In [57]:
import pandas as pd
import numpy as np
#imports the data into a Data Frame
donorsDf = pd.read_csv('donors_data.csv')

In [58]:
donorsDf.columns #show the columns in the Data

Index(['Row Id', 'Row Id.', 'zipconvert_2', 'zipconvert_3', 'zipconvert_4',
       'zipconvert_5', 'homeowner dummy', 'NUMCHLD', 'INCOME', 'gender dummy',
       'WEALTH', 'HV', 'Icmed', 'Icavg', 'IC15', 'NUMPROM', 'RAMNTALL',
       'MAXRAMNT', 'LASTGIFT', 'totalmonths', 'TIMELAG', 'AVGGIFT', 'TARGET_B',
       'TARGET_D'],
      dtype='object')

In [59]:
donorsDf=donorsDf.drop(columns=['zipconvert_2', 'zipconvert_3', 'zipconvert_4','zipconvert_5', 'Icmed','Icavg','IC15','TARGET_B','TARGET_D']) #Drops Columns that likely will not be used in this analysis

In [60]:
#Finds who has only donated one time by checking Lifetime giving vs their most recent gift value
donorsDf['oneTimeDonor']=np.where(donorsDf['RAMNTALL']==donorsDf['LASTGIFT'], True, False)

In [61]:
singleDonors=donorsDf[donorsDf['oneTimeDonor']==True]
singleDonors['TIMELAG'].describe() #This looks strange

count    138.0
mean       5.0
std        0.0
min        5.0
25%        5.0
50%        5.0
75%        5.0
max        5.0
Name: TIMELAG, dtype: float64

In [62]:
donorsDf.describe()

,Row Id,Row Id.,homeowner dummy,NUMCHLD,INCOME,gender dummy,WEALTH,HV,NUMPROM,RAMNTALL,MAXRAMNT,LASTGIFT,totalmonths,TIMELAG,AVGGIFT
count,3120.000000,3120.000000,3120.000000,3120.000000,3120.000000,3120.000000,3120.000000,3120.000000,3120.000000,3120.000000,3120.000000,3120.000000,3120.000000,3120.000000,3120.000000
mean,1560.500000,11615.770833,0.770192,1.069231,3.893910,0.609295,6.402244,1141.361859,49.089423,110.399875,16.651397,13.522917,31.136859,6.861859,10.690713
std,900.810746,6698.678131,0.420777,0.347688,1.636186,0.487987,2.539978,946.642162,22.717130,147.299933,22.223521,10.581439,4.132952,5.561209,7.443980
min,1.000000,17.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,11.000000,15.000000,5.000000,0.000000,17.000000,0.000000,2.138889
25%,780.750000,5820.750000,1.000000,1.000000,3.000000,0.000000,5.000000,556.000000,29.000000,45.000000,10.000000,7.000000,29.000000,3.000000,6.356092
50%,1560.500000,11735.500000,1.000000,1.000000,4.000000,1.000000,8.000000,822.000000,48.000000,81.000000,15.000000,10.000000,31.000000,5.000000,9.000000
75%,2340.250000,17435.750000,1.000000,1.000000,5.000000,1.000000,8.000000,1338.750000,65.000000,134.625000,20.000000,16.000000,34.000000,9.000000,12.811652
max,3120.000000,23293.000000,1.000000,5.000000,7.000000,1.000000,9.000000,5945.000000,157.000000,5674.900000,1000.000000,219.000000,37.000000,77.000000,122.166667

In [63]:
gender_grp=donorsDf.groupby('gender dummy')
gender_grp['AVGGIFT'].mean().round(2)

gender dummy
0    11.33
1    10.28
Name: AVGGIFT, dtype: float64

In [64]:
wealth_grp = donorsDf.groupby(['WEALTH', 'homeowner dummy','gender dummy'])['AVGGIFT'].agg(['mean', 'count']).round(2).reset_index()
wealth_grp.sort_values('mean', ascending=False).head(5)

    WEALTH  homeowner dummy  gender dummy   mean  count
0        0                0             0  19.77      8
4        1                0             0  13.58     13
30       7                1             0  12.92     62
28       7                0             0  12.75     14
38       9                1             0  12.66     65

In [65]:
wealth_grp.sort_values('mean', ascending=False).tail(5)

    WEALTH  homeowner dummy  gender dummy  mean  count
7        1                1             1  8.81     57
10       2                1             0  8.81     32
23       5                1             1  8.38     86
5        1                0             1  8.08     28
3        0                1             1  7.91     59

In [66]:
donorsDf.groupby('NUMCHLD')['AVGGIFT'].agg(['mean','count']).round(2)

          mean  count
NUMCHLD
1        10.73   2972
2         9.94     99
3         9.64     31
4        10.81     17
5         6.60      1